.logo {
  margin-right: 20px;
}

.bx.bx-menu{
  display: none;
  padding: 0 15px;
  cursor: pointer;
  font-size: 42px;
}

.bx.bx-x-circle{
  display: none;

}

.logo {
  display: flex;
  align-items: center;
}


.logo:hover {
  color: rgb(55, 59, 178);
}

header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-left: 30px;
  height: 50px;
  animation: header-load 0.5s;
  background-color: rgb(255, 255, 255);
}

.nav-links,
.logo {
  text-decoration: none;
  font-weight: 1000;
  font-size: 20px;
  color: black;
}

li {
  padding: 0;
  margin: 0;
  display: inline-block;
}

.nav-container {
  display: flex;
  list-style: none;
}

.nav-links {
  margin-right: 50px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 15px;
}

i {
  color: black;
  font-size: 23px;
  margin-left: 10px;
}

.nav-btns {
  display: flex;
  justify-content: space-between;
}

.nav-span {
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
}

.nav-span::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: rgb(55, 59, 178);
  transition: width 0.3s ease-in-out;
}

.nav-span:hover::after {
  width: 100%;
}

ul div {
  display: flex;
}


@media (max-width: 700px) {

  .nav-container{
    background-color:rgb(55, 59, 178, 0.7);
    position: absolute;
    width: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: -3vh;
    width: 50vh;
    left: 100vh;
    height: 100vh;
    padding-top: 40px;
    z-index: 100;
    
  }

  .nav-container i{
    color: white;
    padding-left: 24%; 
    cursor: pointer; 
  }

  .nav-container li a{
    color: white;
  }

  

  .bx.bx-menu{
    display: flex;
  }

  .bx.bx-x-circle{
    display: flex;
    cursor: pointer;
    position: relative;
    right: 35%;
    bottom: 3%;
    font-size: 42px;
  }


  .nav-span::after{
    background-color: white;
  }

  .blur-overlay {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    background: rgba(0, 0, 0, 0.2); 
    z-index: 5; 
    visibility: hidden;
    
    
}
}
